@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: var(--primary-color, #2563eb);
}

:root {
  --primary-color: #2563eb;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}



input {
  color: #000 ;
}