@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: var(--primary-color, #ebde25);
  --color-secondary: var(--secondary-color, #1e293b);
}

:root {
  --primary-color: #c55717;
  --secondary-color: #1e293b;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* button {
  background-color: #c55717;
} */

/* input:focus {
  outline: none; 
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(197, 87, 23, 0.3); 
} */
input {
  color: #000 ;
}